In [ ]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import tensorflow as tf

In [ ]:
os.chdir('/content/drive/My Drive/OEM/Final datasets')

In [ ]:
scenario1_df = pd.read_csv('final_mer.csv')
scenario1_df.drop(['Unnamed: 0'], axis=1, inplace=True)
scenario1_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   REG_KEY    FEI_NUMBER  ...  STATE_CODE ISO_COUNTRY_CODE_y
0     6378  1.000122e+09  ...          NJ                 US
1   107232  3.007817e+09  ...     FR-NOTA                 FR
2   107232  3.007817e+09  ...     FR-NOTA                 FR
3   107232  3.007817e+09  ...     FR-NOTA                 FR
4   107232  3.007817e+09  ...     FR-NOTA                 FR

[5 rows x 23 columns]

In [ ]:
print(scenario1_df.shape)
scenario1_df.isna().sum()

(1480208, 23)

REG_KEY                              0
FEI_NUMBER                       31425
REG_STATUS_ID                        0
INITIAL_IMPORTER_FLAG                0
REG_EXPIRY_DATE_YEAR                 0
ADDRESS_TYPE_ID                      0
NAME                              8853
ISO_COUNTRY_CODE_x                   0
KEY_VAL                              0
PREMARKET_SUBMISSION_NUMBER     672070
PROPRIETARY_NAME                   193
PRODUCT_CODE                         0
CREATED_DATE                         0
OWNER_OPERATOR_NUMBER                0
EXEMPT                         1480208
ESTABLISHMENT_TYPE_ID                0
MEDICALSPECIALTY                 49822
DEVICENAME                           0
DEVICECLASS                          0
CONTACT_ID                           0
FIRM_NAME                            0
STATE_CODE                           0
ISO_COUNTRY_CODE_y                   0
dtype: int64

In [ ]:
scenario1_input_df = scenario1_df.drop(['REG_KEY', 'FEI_NUMBER', 'REG_STATUS_ID',
       'REG_EXPIRY_DATE_YEAR', 'ADDRESS_TYPE_ID',
       'KEY_VAL', 'PREMARKET_SUBMISSION_NUMBER',
       'CREATED_DATE', 'OWNER_OPERATOR_NUMBER', 'EXEMPT',
       'DEVICECLASS', 'CONTACT_ID'], axis=1)

In [ ]:
scenario1_input_df.isna().sum()

INITIAL_IMPORTER_FLAG        0
NAME                      8853
ISO_COUNTRY_CODE_x           0
PROPRIETARY_NAME           193
PRODUCT_CODE                 0
ESTABLISHMENT_TYPE_ID        0
MEDICALSPECIALTY         49822
DEVICENAME                   0
FIRM_NAME                    0
STATE_CODE                   0
ISO_COUNTRY_CODE_y           0
dtype: int64

In [ ]:
scenario1_input_df = scenario1_input_df[scenario1_input_df['MEDICALSPECIALTY'].notnull()]
scenario1_input_df.isna().sum()

INITIAL_IMPORTER_FLAG       0
NAME                     7938
ISO_COUNTRY_CODE_x          0
PROPRIETARY_NAME          178
PRODUCT_CODE                0
ESTABLISHMENT_TYPE_ID       0
MEDICALSPECIALTY            0
DEVICENAME                  0
FIRM_NAME                   0
STATE_CODE                  0
ISO_COUNTRY_CODE_y          0
dtype: int64

In [ ]:
scenario1_input_df.drop(['STATE_CODE', 'NAME'], axis=1, inplace=True)
scenario1_input_df.isna().sum()

INITIAL_IMPORTER_FLAG      0
ISO_COUNTRY_CODE_x         0
PROPRIETARY_NAME         178
PRODUCT_CODE               0
ESTABLISHMENT_TYPE_ID      0
MEDICALSPECIALTY           0
DEVICENAME                 0
FIRM_NAME                  0
ISO_COUNTRY_CODE_y         0
dtype: int64

In [ ]:
scenario1_input_df = scenario1_input_df[scenario1_input_df['PROPRIETARY_NAME'].notnull()]
scenario1_input_df.shape

(1430208, 9)

In [ ]:
scenario1_input_df.isna().sum()

INITIAL_IMPORTER_FLAG    0
ISO_COUNTRY_CODE_x       0
PROPRIETARY_NAME         0
PRODUCT_CODE             0
ESTABLISHMENT_TYPE_ID    0
MEDICALSPECIALTY         0
DEVICENAME               0
FIRM_NAME                0
ISO_COUNTRY_CODE_y       0
dtype: int64

In [ ]:
scenario1_input_df['PROPRIETARY_NAME'].value_counts()

P2D                                     1790
ACTH Control Module                     1782
IMMULITE Insulin                        1775
IMMULITE Albumin                        1770
Albumin Control Module                  1770
                                        ...
ASSI.MTK2054018                            1
Relief+                                    1
Human CD138 PE-Cy 5.5 Conjugate            1
Kimberly-Clark PFR95 Respirator            1
Mega Power Electrosurgical Generator       1
Name: PROPRIETARY_NAME, Length: 394706, dtype: int64

In [ ]:
scenario1_input_df['INITIAL_IMPORTER_FLAG'].value_counts()

N    1272628
Y     157580
Name: INITIAL_IMPORTER_FLAG, dtype: int64

In [ ]:
scenario1_input_df['PRODUCT_CODE'].value_counts()

ITX    28536
LXH    28155
IYO    27848
IYN    27342
NDP    16777
       ...
OPC        1
CAG        1
OPJ        1
QAA        1
OER        1
Name: PRODUCT_CODE, Length: 4665, dtype: int64

In [ ]:
scenario1_input_df['ESTABLISHMENT_TYPE_ID'].value_counts()

{5}           317172
{2}           100686
{1, 5}         99255
{9, 5}         65569
{1}            52659
               ...
{1, 6, 7}          1
{1, 10, 2}         1
{8, 1}             1
{2, 10, 5}         1
{8, 6}             1
Name: ESTABLISHMENT_TYPE_ID, Length: 353, dtype: int64

In [ ]:
scenario1_input_df['MEDICALSPECIALTY'].value_counts()

OR    234499
SU    205031
DE    153754
RA    122159
CH     96676
PM     93238
HO     82856
CV     61862
GU     57145
OP     55924
AN     47530
NE     35841
TX     33000
HE     29177
PA     28629
EN     26592
MI     24678
IM     22810
OB     18767
MG        40
Name: MEDICALSPECIALTY, dtype: int64

In [ ]:
scenario1_input_df['ISO_COUNTRY_CODE_y'].value_counts()

US    811301
CN    123789
DE     68983
KR     58005
JP     48029
       ...
VU         4
VG         2
BL         2
EC         2
FJ         2
Name: ISO_COUNTRY_CODE_y, Length: 99, dtype: int64

In [ ]:
target_est_ids = scenario1_input_df['ESTABLISHMENT_TYPE_ID'].value_counts().nlargest(n=5).index.tolist()
target_est_ids

['{5}', '{2}', '{1, 5}', '{9, 5}', '{1}']

In [ ]:
target_countries = scenario1_input_df['ISO_COUNTRY_CODE_y'].value_counts().nlargest(n=5).index.tolist()
target_countries

['US', 'CN', 'DE', 'KR', 'JP']

In [ ]:
# target_prod_codes = input_data['PRODUCT_CODE'].value_counts().nlargest(n=30).index.tolist()
# target_prod_codes

In [ ]:
target_medical_spl = scenario1_input_df['MEDICALSPECIALTY'].value_counts().nsmallest(n=1).index.tolist()
target_medical_spl

['MG']

In [ ]:
updated_input_data = scenario1_input_df.drop(['PROPRIETARY_NAME', 'DEVICENAME', 'FIRM_NAME', 'PRODUCT_CODE'], axis=1)
updated_input_data = updated_input_data.reset_index().drop(['index'], axis=1)
updated_input_data = updated_input_data[updated_input_data['ESTABLISHMENT_TYPE_ID'].isin(target_est_ids)]
# updated_input_data = updated_input_data[updated_input_data['PRODUCT_CODE'].isin(target_prod_codes)]
updated_input_data = updated_input_data[updated_input_data['ISO_COUNTRY_CODE_y'].isin(target_countries)]
updated_input_data = updated_input_data[updated_input_data['MEDICALSPECIALTY'].isin(target_medical_spl)==False].reset_index().drop(['index'], axis=1)

updated_input_data.shape

(480543, 5)

In [ ]:
updated_input_data.isna().sum()

INITIAL_IMPORTER_FLAG    0
ISO_COUNTRY_CODE_x       0
ESTABLISHMENT_TYPE_ID    0
MEDICALSPECIALTY         0
ISO_COUNTRY_CODE_y       0
dtype: int64

In [ ]:
updated_input_data['ESTABLISHMENT_TYPE_ID'].value_counts()

{5}       215173
{2}        98528
{1, 5}     75332
{9, 5}     56125
{1}        35385
Name: ESTABLISHMENT_TYPE_ID, dtype: int64

In [ ]:
updated_input_data = updated_input_data.reset_index().drop(['index'], axis=1)
updated_input_data.head()

  INITIAL_IMPORTER_FLAG ISO_COUNTRY_CODE_x  ... MEDICALSPECIALTY ISO_COUNTRY_CODE_y
0                     N                 US  ...               OP                 DE
1                     N                 DE  ...               OP                 DE
2                     N                 US  ...               OP                 DE
3                     N                 DE  ...               OP                 DE
4                     N                 US  ...               OP                 DE

[5 rows x 5 columns]

In [ ]:
updated_input_data['ISO_COUNTRY_CODE_x'].value_counts()

US    312826
CN     36681
KR     26182
DE     24654
JP     16517
GB     13534
CH      7813
MX      7259
IT      6782
FR      4784
IN      4182
NO      3801
IE      3197
BE      2140
CA      1738
TH      1173
CR       968
IL       884
DO       824
VN       736
AT       530
MY       500
SG       415
PL       397
PH       199
NL       175
SE       172
CZ       170
BR       142
CO       131
DK       102
RU       102
FI       102
HU        81
EE        74
TW        66
HN        59
SK        57
LK        53
HK        50
LT        45
BY        40
ID        36
MT        33
ES        28
TN        26
ZA        17
BG        13
PK        12
JO         8
BB         8
MM         6
SA         4
RO         4
TR         4
UA         3
CL         2
AU         1
PE         1
Name: ISO_COUNTRY_CODE_x, dtype: int64

### Preparing the input

In [ ]:
updated_input_data['ISO_COUNTRY_CODE_x'] = [1 if x=='CN' else 0 for x in updated_input_data['ISO_COUNTRY_CODE_x'].values]

In [ ]:
updated_input_data['ISO_COUNTRY_CODE_x'].value_counts()

0    443862
1     36681
Name: ISO_COUNTRY_CODE_x, dtype: int64

In [ ]:
updated_input_data.dtypes

INITIAL_IMPORTER_FLAG    object
ISO_COUNTRY_CODE_x        int64
ESTABLISHMENT_TYPE_ID    object
MEDICALSPECIALTY         object
ISO_COUNTRY_CODE_y       object
dtype: object

In [ ]:
for col in updated_input_data.columns:
    updated_input_data[col] = updated_input_data[col].astype('category')

In [ ]:
updated_input_data.dtypes

ISO_COUNTRY_CODE_x    category
N                        uint8
Y                        uint8
CN                       uint8
DE                       uint8
JP                       uint8
KR                       uint8
US                       uint8
{1, 5}                   uint8
{1}                      uint8
{2}                      uint8
{5}                      uint8
{9, 5}                   uint8
AN                       uint8
CH                       uint8
CV                       uint8
DE                       uint8
EN                       uint8
GU                       uint8
HE                       uint8
HO                       uint8
IM                       uint8
MI                       uint8
NE                       uint8
OB                       uint8
OP                       uint8
OR                       uint8
PA                       uint8
PM                       uint8
RA                       uint8
SU                       uint8
TX                       uint8
dtype: object

In [ ]:
def encodeData(df):
    int_import_data = pd.get_dummies(df['INITIAL_IMPORTER_FLAG'])
    target_countries_data = pd.get_dummies(df['ISO_COUNTRY_CODE_y'])
    est_type_data = pd.get_dummies(df['ESTABLISHMENT_TYPE_ID'])
    med_spl_data = pd.get_dummies(df['MEDICALSPECIALTY'])
    encoded_df = pd.concat([df.drop(['INITIAL_IMPORTER_FLAG', 'ISO_COUNTRY_CODE_y', 'ESTABLISHMENT_TYPE_ID', 'MEDICALSPECIALTY'], axis=1), int_import_data, target_countries_data, est_type_data, med_spl_data], axis=1)
    return encoded_df

In [ ]:
# prod_code_data = pd.get_dummies(updated_input_data['PRODUCT_CODE'])
# prod_code_data

In [ ]:
# est_type_data = pd.get_dummies(updated_input_data['ESTABLISHMENT_TYPE_ID'])
# est_type_data

In [ ]:
# updated_input_data['MEDICALSPECIALTY'].value_counts()

In [ ]:
# med_spl_data = pd.get_dummies(updated_input_data['MEDICALSPECIALTY'])
# med_spl_data

In [ ]:
# updated_input_data = pd.concat([updated_input_data.drop(['STATE_CODE', 'PRODUCT_CODE', 'ESTABLISHMENT_TYPE_ID', 'MEDICALSPECIALTY'], axis=1), target_states_data, prod_code_data, est_type_data, med_spl_data], axis=1)
# updated_input_data.head()

In [ ]:
updated_input_data = encodeData(updated_input_data)
updated_input_data.shape

(480543, 32)

In [ ]:
updated_input_data.head()

  ISO_COUNTRY_CODE_x  N  Y  CN  DE  JP  KR  US  ...  OB  OP  OR  PA  PM  RA  SU  TX
0                  0  1  0   0   1   0   0   0  ...   0   1   0   0   0   0   0   0
1                  0  1  0   0   1   0   0   0  ...   0   1   0   0   0   0   0   0
2                  0  1  0   0   1   0   0   0  ...   0   1   0   0   0   0   0   0
3                  0  1  0   0   1   0   0   0  ...   0   1   0   0   0   0   0   0
4                  0  1  0   0   1   0   0   0  ...   0   1   0   0   0   0   0   0

[5 rows x 32 columns]

In [ ]:
y = updated_input_data.iloc[:, 0].values
X = updated_input_data.drop(['ISO_COUNTRY_CODE_x'], axis=1).iloc[:,].values

In [ ]:
X

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [ ]:
y

[0, 0, 0, 0, 0, ..., 0, 0, 0, 0, 0]
Length: 480543
Categories (2, int64): [0, 1]

##### Creating train test split

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=95)

### Model Building

In [ ]:
from xgboost import XGBClassifier

xgb_model = XGBClassifier(objective = 'binary:logistic', learning_rate=0.2, n_estimators = 1000, max_delta = None)
xgb_model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.2, max_delta=None, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [ ]:
from sklearn.metrics import accuracy_score

y_predict = xgb_model.predict(X_test)
xgb_accuracy = accuracy_score(y_test, y_predict)
xgb_accuracy

0.9213497175082458